@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Code Cafe<br />
    Bangalore, Karnataka, India<br />
    <abbr title="Phone">P:</abbr>
    +91-7625027503
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:rohan.chauhan.in18@gmail.com">rohan.chauhan.in18@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:rohan.chauhan.in18@gmail.com">rohan.chauhan.in18@gmail.com</a>
</address>