@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HealthCare Information Management Systems (HIMS)</h1>
    <p class="lead">HealthCare Information Management Systems allowing hospital staff to manage patientactivities online.</p>
    <p><a href="https://en.wikipedia.org/wiki/Health_information_management" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Wiki Blog</h2>
        <p>
            Health information management Systems (HIMS) is information management applied to health and health care.
            It is the practice of analyzing and protecting digital and traditional medical information vital to providing quality patient care.
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Health_information_management">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Health Laws by CDC</h2>
        <p>Protect the public’s health in your area, including senior health officials, state, local, and territorial health departments, and tribes and Indian organizations.</p>
        <p><a class="btn btn-default" href="https://www.cdc.gov/publichealthgateway/healthdirectories/index.html?s_cid=cstlts-gateway-b-07-2021-directories">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ministry of Health and Family Welfare, Government of India</h2>
        <p>The Ministry of Health and Family Welfare, also known by its abbreviation MoHFW, is an Indian government ministry charged with health policy in India. It is also responsible for all government programs relating to family planning in India.</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Ministry_of_Health_and_Family_Welfare">Learn more &raquo;</a></p>
    </div>
</div>